
<!-- Hidden input for authenticity token to protect from forgery -->
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<!-- Label and input for first_name -->
<div class="form-group">
  <label for="first_name" class="col-sm-2 control-label">
    First Name
  </label>
  <div class="col-sm-10">
    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @relationship.first_name %>">
  </div>
</div>

<!-- Label and input for last_name -->
<div class="form-group">
  <label for="last_name" class="col-sm-2 control-label">
    Last Name
  </label>
  <div class="col-sm-10">
    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @relationship.last_name %>">
  </div>
</div>

<hr>

<!-- Label and input for date_of_checkin -->
<div class="form-group">
  <label for="date_of_checkin" class="col-sm-2 control-label">
    Last Check-in
  </label>
  <div class="col-sm-10">
    <input type="date" id="date_of_checkin" name="date_of_checkin" class="form-control" value="<%= @relationship.date_of_checkin %>">
  </div>
</div>

<!-- Label and input for periodicity_of_communication -->
<div class="form-group">
  <label for="periodicity_of_communication" class="col-sm-2 control-label">
    Freq of Contact
  </label>
  <div class="col-sm-10">
    <input type="text" id="periodicity_of_communication" name="periodicity_of_communication" placeholder="Months" class="form-control" value="<%= @relationship.periodicity_of_communication %>">
  </div>
</div>

<hr>

<!-- Label and input for shared_activities_history -->
<div class="form-group">
  <label for="shared_activities_history" class="col-sm-2 control-label">
    Shared History
  </label>
  <div class="col-sm-10">
    <textarea id="shared_activities_history" name="shared_activities_history" class="form-control" rows="3"><%= @relationship.shared_activities_history %></textarea>
  </div>
</div>

<!-- Label and input for education -->
<div class="form-group">
  <label for="education" class="col-sm-2 control-label">
    Education
  </label>
  <div class="col-sm-10">
    <textarea id="education" name="education" class="form-control" rows="3"><%= @relationship.education %></textarea>
  </div>
</div>

<!-- Label and input for interests -->
<div class="form-group">
  <label for="interests" class="col-sm-2 control-label">
    Interests
  </label>
  <div class="col-sm-10">
    <textarea id="interests" name="interests" class="form-control" rows="3"><%= @relationship.interests %></textarea>
  </div>
</div>

<!-- Label and input for professional -->
<div class="form-group">
  <label for="professional" class="col-sm-2 control-label">
    Professional
  </label>
  <div class="col-sm-10">
    <textarea id="professional" name="professional" class="form-control" rows="3"><%= @relationship.professional %></textarea>
  </div>
</div>

<!-- Label and input for family -->
<div class="form-group">
  <label for="family" class="col-sm-2 control-label">
    Family
  </label>
  <div class="col-sm-10">
    <textarea id="family" name="family" class="form-control" rows="3"><%= @relationship.family %></textarea>
  </div>
</div>

<!-- Label and input for birthday -->
<div class="form-group">
  <label for="birthday" class="col-sm-2 control-label">
    Birthday
  </label>
  <div class="col-sm-10">
    <input type="date" id="birthday" name="birthday" class="form-control" value="<%= @relationship.birthday %>">
  </div>
</div>

<hr>

<!-- Label and input for email -->
<div class="form-group">
  <label for="email" class="col-sm-2 control-label">
    Email
  </label>
  <div class="col-sm-10">
    <input type="email" id="email" name="email" class="form-control" value="<%= @relationship.email %>">
  </div>
</div>

<!-- Label and input for mobile number -->
<div class="form-group">
  <label for="mobile" class="col-sm-2 control-label">
    Mobile
  </label>
  <div class="col-sm-10">
    <input type="text" id="mobile" name="mobile" class="form-control" value="<%= @relationship.mobile %>">
  </div>
</div>

<!-- Label and input for desk number -->
<div class="form-group">
  <label for="desk" class="col-sm-2 control-label">
    Desk
  </label>
  <div class="col-sm-10">
    <input type="text" id="desk" name="desk" class="form-control" value="<%= @relationship.desk %>">
  </div>
</div>

<hr>

<!-- Label and input for image -->
<div class="form-group">
  <label for="image" class="col-sm-2 control-label">
  Image
  </label>
  <div class="col-sm-10">
   <input type="file" id="image" name="image" class="form-control" value = "<%= @relationship.image %>" >
 </div>
</div>

<hr>

<!-- Label and input for holiday_card -->
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label for="holiday_card">
        <input type="checkbox" id="holiday_card" name="holiday_card" value="1" <%= "checked" if @relationship.holiday_card %>>
        Holiday card
      </label>
    </div>
  </div>
</div>

<hr>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-success">
      Submit
    </button>
    or
    <a href="/relationships">Cancel</a>
  </div>
</div>


