<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @relationship.first_name %> <%= @relationship.last_name %></strong></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <% if @relationship.image.present? %>
              <dd><img src="<%= @relationship.image %>" class="img-responsive"></dd>
              <hr>
              <% end %>

              <dt>Shared History</dt>
              <dd><%= @relationship.shared_activities_history %></dd>

              <% if @relationship.education.present? %>
              <dt>Education</dt>
              <dd><%= @relationship.education %></dd>
              <% end %>

              <% if @relationship.interests.present? %>
              <dt>Interests</dt>
              <dd><%= @relationship.interests %></dd>
              <% end %>

              <% if @relationship.professional.present? %>
              <dt>Professional</dt>
              <dd><%= @relationship.professional %></dd>
              <% end %>

              <% if @relationship.family.present? %>
              <dt>Family</dt>
              <dd><%= @relationship.family %></dd>
              <% end %>

              <% if @relationship.birthday.present? %>
              <dt>Birthday</dt>
              <dd><%= @relationship.birthday %></dd>
              <% end %>


              <% if @relationship.holiday_card %>
              <hr>
              <dt>Holiday Card</dt>
              <dd> <i class="fa fa-check"></i> </dd>
              <% end %>

              <hr>

              <dt>Email</dt>
              <% if @relationship.email.present? %>
              <dd><%= @relationship.email %></dd>
              <% end %>

              <dt>Mobile</dt>
              <% if @relationship.mobile.present? %>
              <dd><%= @relationship.mobile %></dd>
              <% end %>

              <% if @relationship.desk.present? %>
              <dt>Desk</dt>
              <dd><%= @relationship.desk %></dd>
              <% end %>

              <br>
              <hr>

              <dt>Check-in Freq</dt>
              <dd><%=
                if @relationship.periodicity_of_communication
                  "Every " + @relationship.periodicity_of_communication.to_s + " months"
                else
                  "None"
                  end %>
                </dd>

                <dt>Last Check-in</dt>
                <dd>
                  <%=
                  if @relationship.date_of_checkin
                    @relationship.date_of_checkin.to_formatted_s(:long_ordinal)
                  else
                    "None recorded"
                  end
                  %>
                </dd>

                <dt>Next Check-in</dt>
                <dd><%=
                  if @relationship.next_checkin.present?
                    (@relationship.next_checkin).to_formatted_s(:long_ordinal)
                  else
                    "No check-in scheduled"
                  end
                  %>
                </dd>

              </dl>
              <div class="btn-group btn-group-justified">
                <a href="/relationships" class="btn btn-primary">
                  <i class="fa fa-chevron-left"></i>
                </a>

                <a href="/relationships/<%= @relationship.id %>/edit" class="btn btn-success">
                  <i class="fa fa-edit"></i>
                </a>

                <a href="/delete_relationship/<%= @relationship.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <ul class="list-group">
          <% @relationship.notes.each do |note| %>
          <li class="list-group-item">

            <% if note.occurence.present? %>
            <strong><%= note.occurence.to_formatted_s(:long_ordinal) %></strong> -
            <a href="/relationships">Edit</a> | <a href="/relationships">Delete</a>
            <% else %>
            <strong><%= note.entry_made.to_formatted_s(:long_ordinal) %></strong> -
            <a href="/notes/<%= note.id %>/edit">Edit</a> | <a href="/delete_note/<%= note.id %>">Delete</a>
            <% end %>
            <br>
            <br>
            <% if note.context.present? %>
            <%= note.context %>:
            <% end %>
            <%= note.content %>
            <br>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- End responsive panel example -->
