<% if @tag.errors.any? %>
  <% @tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Manage Tags for <%= @relationship.first_name %> <%= @relationship.last_name %></h3>
      </div>
      <div class="panel-body">
        <form action="/add_tag/<%= @relationship.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for tag_name -->
          <div class="form-group">

            <div class="col-sm-offset-1 col-xs-10">
             <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name), :class => "form-control") %>
           </div>
         </div>


         <div class="form-group">
          <div class="col-sm-offset-1 col-xs-10">
            <a href="/relationships" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i>
            </a>
            <button class="btn btn-success">
              Add Tag
            </button>
            or
            <a href="/tags/new">Create New</a>
          </div>
        </div>
      </form>
    </div>


    <ul class="list-group">

      <% @relationship.tags.each do |tag| %>
      <li class="list-group-item">
        <div class="col-sm-offset-1">
          <a href="/delete_tag/<%= tag.id %>/<%= @relationship.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
          <%= tag.tag_name %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<!-- End responsive panel example -->
